<template>
    <div class="user-img">

        <userimg
                :userimg="user.photo"
                :imgalt="user.name"
                class="img-circle img-user"
        ></userimg>

    </div>

    <div class="user-name">
        <h4>{{ user.name }}</h4>
    </div>

    <div v-if="user.bio" class="user-bio">
        {{ user.bio }}
    </div>


    <div v-if="user.location" class="user-location">
        <i class="icon ion-location"></i> {{ user.location}}
    </div>


    <div v-if="user.age" class="user-age">
        <i class="icon ion-calendar"></i> Age {{ user.age }}
    </div>


</template>

<script>
    import userimg from './userimg.vue';
    export default ({

        components:{
          'userimg':userimg
        },

        props:[
            'user'
        ],

    });
</script>