<template>
    <div>
        <p class="settings-message">
            https://habilitis.com/<strong>{{ username }}</strong>
        </p>
    </div>
</template>

<script>
    export default {
        props: ['username'],

    };
</script>