  .middle {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 70px;
}


.lr-social-icons {
  text-align: center;

  .icon {
    font-size: 45px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .icon:hover {
    text-shadow: 0 0 5px rgb(167, 167, 167);
  }

  .ion-social-facebook {
    color: $social-facebook;
  }

  .ion-social-linkedin {
    color: $social-linkedin;
  }

  hr {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.login-checkbox {
  display: inline;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-right: 10px;
}
