
.navbar-hab {
  background-color: $navbar-bg;
  border-color: $navbar-border-color;

  .navbar-user {
    padding-right: 15px;

    img {
      border: 1px solid $base-color;
      border-radius: 50%;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
      height: 35px;
      margin-top: 8px;
      right: 0;
      width: 35px;
    }
  }

  .navbar-brand {
    display: block;
    left: 50%;
    margin-left: -50px;
    padding: 5px 15px;
    position: absolute;
  }

  .navbar-buttons {
    font-size: 30px;
    margin-top: 2px;
    position: absolute;

    a {
      color: $navbar-buttons-color;
      margin-right: 20px;
      text-decoration: none;
    }

    a:hover {
      color: $base-color;
    }

  }


}
