
.user-profile {

  .left-side {
    background-color: $base-color;
    float: left;
    height: 100%;
    margin-left: -15px;
    margin-top: -15px;
    padding: 15px;
    position: fixed;
    width: 220px;

    .user-name {
      color: $left-side-base-color;
      font-weight: lighter;
      margin-top: 110px;
      text-align: center;
    }

  }

  .right-side {
    margin-left: 220px;
  }

  .panel-user {
    height: 200px;
  }

  .img-user {
    border: 3px solid $left-side-base-color;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 100px;
  }

}
