
body {
  background-color: $body-bg;
  font-family: 'Lato';
}

.start-content {
  padding: 65px 15px 5px;
}

.panel-default > .panel-heading {
  background-color: $base-color;
  color: $panel-heading-text-color;
}
