.form-account {

  .settings-message {
    color: $gray-light;
  }

  .file-upload {
    margin: 10px;
    overflow: hidden;
    position: relative;


    .upload {
      cursor: pointer;
      filter: alpha(opacity=0);
      font-size: 20px;
      margin: 0;
      opacity: 0;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .settings-img-user {
    border: 1px solid $base-color;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    height: 80px;
    width: 80px;
  }
}
