//** Background color for `<body>`.
$body-bg: #f6f5f6;

$base-color: #2fb488;

//** Navbar
$navbar-bg: #fff;
$navbar-border-color: #ddd;
$navbar-buttons-color: darken($navbar-border-color, 5%);

//Social icons
$social-facebook: #3b5998;
$social-linkedin: #007bb5;

//User Profile
$left-side-base-color: #fff;

//panel-heading
$panel-heading-text-color: #fff;
